body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  
  h2 {
    color: white;
  }
  
  #app {
  background-color: darkblue;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  overflow-x: auto; 
  text-align: center;
  width: 14%; 
}

  
  #app h2, #app .total-reps {
    color: white;
  }
  
  #app .day {
    display: inline-block;
    margin-right: 10px;
  }
  
  #app .day input {
    width: 80px;
    padding: 5px;
  }
  
  #app .total-reps {
    margin-top: 10px;
    font-weight: bold;
  }
  
  .container {
    /* Existing styles for larger screens */
    max-width: 800px;
    margin: 0 auto;
  }
  
  h1 {
    /* Existing styles for the title */
    text-align: center;
    color: white;
  }
  
  /* Updated styles for mobile devices */
  @media only screen and (max-width: 600px) {
    .container {
      /* Adjusted styles for mobile devices */
      max-width: 90%;
      margin: 0 auto;
    }
    
    h1 {
      /* Adjusted styles for the title on mobile devices */
      text-align: center;
      color: white;
    }
  }
  
